section.contact
	.container
		.title-block
			h2.title-block_h2 запрос на услуги
			.title-block_line
		.form-container
			form(method="post" action="#").form
				.form__fields
					input.form__input(type="text" placeholder="имя*")
					input.form__input(type="text" placeholder="Телефон*")
					input.form__input(type="email" placeholder="E-mail*")
					input.form__input(type="text" placeholder="cайт")
				.text-intresting
					.text-intresting-header МЕНЯ ИНТЕРЕСУЕТ
						img.header-img(src="images/header.png", alt="header")
					.text-intresting-content
						.grey-ellipse Наведение порядка в делах
						.grey-ellipse Правовое сопровождение деятельности
						.grey-ellipse Оптимизация договорных отношений
						.grey-ellipse Разработка договоров
		.textarea
			.textarea_text Дополнительная информация
			textarea(placeholder="Введите текст ...").textarea_place
		button(type="submit").button--text отправить
	.line-solid