section.prise-and
	.container
		.title-block
			h2.title-block_h2 услуги и цены
			.title-block_line
			.title-block_text #[span Pravo agency] выполняет роль юристов-аутсорсеров, надежно прикрывая правовой тыл вашей деятельности.
	.line-solid
	.container
		.main-prise
			.main-prise-wraper
				a(href="#")
					img.prise-picture(src="images/Document.png", alt="picture")
				.i-text i
				h1.name-prise Наведение порядка в делах
				.text-content.padding-top Аудит документов и платежей на предмет:
				.text-content.red-ellipse соблюдения необходимых формальностей и процедур,
				.text-content.red-ellipse наличия всех оригиналов договоров, актов,
				.text-content.red-ellipse легализация зависших платежей

			.main-prise-wraper
				a(href="#")
					img.prise-picture(src="images/optimizaciya.png", alt="picture")
				.i-text.i-text-bgc i
				h1.name-prise Оптимизация договорных отношений 
				.text-content.padding-top.red-ellipse Доработка, латание дыр и улучшение условий основных типовых договоров вашей компании
				.text-content.red-ellipse.text-over Оформление сотрудников на оптимальных условиях ведения деятельности и налогообложения
				.text-content.red-ellipse Составление договоров, соглашений о конфиденциальности, публичных офферт
	.linedot-y
	.container
		.main-prise
			.main-prise-wraper
				a(href="#")
					img.prise-picture(src="images/sostavleniye.png", alt="picture")
				.i-text i
				h1.name-prise.more-width Правовое сопровождение деятельности (юрист-аутсорсер)
				.text-content.padding-top.red-ellipse Участие в заключении договоров: минимизация рисков, усиление ваших позиций
				.text-content.red-ellipse Юридическая консультация
				.text-content.red-ellipse Дайджест предпринимательских ИТ-новостей с разъяснениями
				.text-content.red-ellipse Представительство интересов в судах

			.lihedit-y .................................................

			.main-prise-wraper
				a(href="#")
					img.prise-picture(src="images/sud.png", alt="picture")
				.i-text i
				h1.name-prise Разработка договорови другой документации 
				.text-content.padding-top.another-size К сожалению, конфликты бывают в любой сфере.
				.text-content.another-size Если дело близится к суду или уже дошло до него, мы поможем отстоять ваши права и интересы.
	.line-solid


				


				