footer
	.container
		.footer-title pravo agency:
		.adress 01001, Киев, ул.Костёльная 9, оф.8 
		.tel-number +380 (67) 324 10 10
		.email-adress
			p.email-p hello@pravo.agency 
		.icons-block
			i.fa.fa-facebook(*aria-hidden="true")
			i.fa.fa-twitter(*aria-hidden="true")
			i.fa.fa-linkedin(*aria-hidden="true")
		.under-footer © 2015, #[span Pravo agency]