section.reveiw
	.container
		.title-block
			h2.title-block_h2 отзывы
			.title-block_line
			.title-block_text  Мнение наших клиентов #[span делает мир и нас лучше :)]
	.new-container
		.content-reveiw
			.text-reveiw.quote #[br]Главная тема для меня – любовь. Мы все хотим ее, но не знаем как получить, поэтому все, что мы делаем, — это всего лишь попытки найти счастье.
				a(href="#")
					.text-foto-wrap
				.name-reveiw Алксей Фёдоров
				.name-description CEO
					img.image-dot(src="images/Ellipse-7.png", alt="dot")
					span.seo deco.agency
				.seo-text 
			.text-reveiw.quote.quote-red #[br]Главная тема для меня – любовь. Мы все хотим ее, но не знаем как получить, поэтому все, что мы делаем, — это всего лишь попытки найти счастье.
				a(href="#")
					.text-foto-wrap.layer2
				.name-reveiw.quote-red Артур Оруджалиев
				.name-description CEO
					img.image-dot(src="images/Ellipse-7.png", alt="dot")
					span.seo AIN.ua
			.foto-reviev
				img(src="images/vector-2.png", alt="youtube")
				.reveiw-foto-wrap
				.name-reveiw Григорий Маленко
				.name-description CEO
					img.image-dot(src="images/Ellipse-7.png", alt="dot")
					span.seo SERM.ua
		.download
			img.img-download(src="images/vector-3.png", alt="picture")
			.text-download загрузить еще
	.line-solid