doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content="IE=edge")
    meta(name='viewport' content='width=device-width')
    link(rel="stylesheet" href="css/main.min.css")
    title Landing
  body
    include sections/header
    include sections/content
    include sections/review
    include sections/contact
    include sections/footer



    script(src="js/main.min.js")